* {
  margin: 0;
  padding: 0;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 100px;
  left: 100px; */
  width: 600px;
  height: 600px;
  border: 1px solid #ffffff; 
  background-color: rgb(243, 243, 235);
  position: relative;

  /* .img-short{
    width: 100%;   
    max-width: 250px; 
    border-radius: 8px;
  } */


  img{
    /* padding: 25px 75px; */
    width: auto;
    height: 525px;
  }

  .mask{
    width: 150px;
    height: 150px;
    background-color: #c497e6;
    position:absolute;
    opacity: 0.5;
  }
  h1{
    position: absolute;
    align-self: flex-start;
    font-size: 1.5rem;
  }
}



.small {
  display: flex;
  /* top: 100px;
  left: 100px; */
  width: 600px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  border: 1px solid #ffffff;
  border-top: none;
  /* img{
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
    height: 70px;
  } */
  .img-short{
    width: 75px;
    height: 105px;
  }

  /* img.active{
    border: 2px solid #5a08f3;
  } */
  .small-div{
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
  }
  .small-img{
    display: flex;
    width: 90px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    background-color: #c497e6;
  }

  .active{
    border: 2px solid #5a08f3;
  }
}



.big {
  display: flex;
  /* top: 220px;
  left: 575px; */
  width: 600px;
  height: 600px;
  background-color: rgb(166, 182, 239);
  border: 2px solid #c497e6;
  /* border-top: none; */
  position: relative;
  background-image: url(./images/1.jpg);
  display: none;
}

.big.active {
  display: block;
}

.box-left {
  display: flex;
  flex-direction: column;
}

.box {
  margin-top: 15%;
  display: flex;
  align-items: flex-start;
}