* {
  margin: 0;
  padding: 0;
}

.show {
  top: 100px;
  left: 100px;
  width: 400px;
  height: 400px;
  border: 1px solid #27acb1; 
  background-color: rgb(161, 221, 227);
  position: relative;
  img {
    padding: 25px 75px;
    width: 250px;
    height: 350px;
  }
  .mask{
    width: 100px;
    height: 100px;
    background-color: #c497e6;
    position:absolute;
    opacity: 0.5;
  }
}



.small {
  top: 100px;
  left: 100px;
  width: 400px;
  height: 100px;
  background-color: rgba(228, 225, 183, 0.5);
  position: relative;
  border: 1px solid #d7fd00;
  border-top: none;
  img{
    margin-top: 15px;
    margin-left: 25px;
    width: 50px;
    height: 70px;
    .active{
      border: 3px solid #5a08f3;
    }
  }
  img.active{
    border: 3px solid #5a08f3;
  }
}



.big {
  top: 150px;
  left: 550px;
  width: 400px;
  height: 400px;
  background-color: rgb(166, 182, 239);
  border: 1px solid #c497e6;
  border-top: none;
  position: absolute;
  background-image: url(public/img/1.jpg);
  display: none;
}

.big.active {
  display: block;
}